<launch>
    <arg name="sim" default="false" doc="true if we are running in the sim" />
    <arg name="bond_id_namespace" default="safety_bonds" />

    <!-- if we're in the sim -->
    <group if="$(arg sim)">
        <include file="$(find iarc7_simulator)/launch/morse.launch" />
    </group>
    <!-- else -->
    <group unless="$(arg sim)">
        <include file="$(find iarc7_fc_comms)/launch/fc_comms_msp.launch">
            <arg name="bond_id_namespace" value="$(arg bond_id_namespace)" />
        </include>

        <include file="$(find iarc7_sensors)/launch/altimeter.launch" />
        <include file="$(find iarc7_launch)/launch/static_transforms_1.0.launch" />

        <node pkg="rosserial_python" type="serial_node.py"
            name="teensy_serial">
            <param name="port" value="/dev/ttyS0" />
            <param name="baud" value="115200" />
        </node>

        <include file="$(find iarc7_launch)/launch/camera.launch">
            <arg name="device" value="/dev/v4l/by-id/usb-046d_HD_Pro_Webcam_C920_51FE20EF-video-index0" />
            <arg name="camera_name" value="bottom_camera" />
            <arg name="image_width" value="1280" />
            <arg name="image_height" value="720" />
        </include>
    </group>
    <!-- endif -->

    <rosparam command="delete" param="$(arg bond_id_namespace)" />
    <rosparam command="load"
        file="$(find iarc7_launch)/params/safety_config.yaml" />
    <include file="$(find iarc7_safety)/launch/iarc7_safety.launch">
        <arg name="bond_id_namespace" value="$(arg bond_id_namespace)" />
    </include>

    <node name="absolute_vel_from_switches" pkg="iarc7_sensors" type="absolute_velocity_from_switches.py" />
    <param name="$(arg bond_id_namespace)/absolute_switch_velocity_publisher/form_bond"
        value="true" />

    <include file="$(find iarc7_sensors)/launch/orientation_filter.launch">
        <arg name="bond_id_namespace" value="$(arg bond_id_namespace)" />
    </include>
</launch>
