<launch>
    <arg name="bond_id_namespace" default="safety_bonds" />
    <arg name="sim" default="false" doc="true if we are running in the sim" />

    <include file="$(find iarc7_launch)/launch/base_hardware.launch">
        <arg name="sim" value="$(arg sim)" />
        <arg name="bond_id_namespace" value="$(arg bond_id_namespace)" />
    </include>

    <include file="$(find iarc7_launch)/launch/motion_stack.launch">
        <arg name="sim" value="$(arg sim)" />
        <arg name="bond_id_namespace" value="$(arg bond_id_namespace)" />
    </include>

    <include file="$(find iarc7_launch)/launch/localization.launch" />

    <include file="$(find iarc7_vision)/launch/vision_node.launch" />
</launch>
