<launch>
    <include file="$(find iarc7_launch)/launch/base_hardware.launch">
        <arg name="sim" value="true" />
    </include>

    <include file="$(find iarc7_launch)/launch/motion_stack.launch">
        <arg name="sim" value="true" />
    </include>

    <param name="sim/ground_truth_localization" value="true" />

    <node name="test_motion_planner" pkg="iarc7_motion" type="test_motion_planner.py" />
</launch>
