<launch>
    <include file="$(find iarc7_simulator)/launch/static_transforms_sim.launch" />

    <include file="$(find iarc7_simulator)/launch/morse.launch" />

    <include file="$(find iarc7_safety)/launch/iarc7_safety.launch">
        <arg name="bondIds" default="['low_level_motion']"/>
    </include>

    <include file="$(find iarc7_motion)/launch/low_level_motion.launch">
        <arg name="platform" value="sim" />
    </include>


    <include file="$(find iarc7_motion)/launch/motion_planner.launch"/>
</launch>
