<launch>
    <arg name="sim" default="false" doc="true if we are running in the sim" />
    <arg name="fake_bat" default="false" />

    <node name="takeoff_land_abstract" pkg="iarc7_abstract" type="takeoff_land.py" />
    <param name="safety_bonds/takeoff_land_abstract/form_bond" value="true" />

    <include file="$(find iarc7_launch)/launch/main.launch">
        <arg name="sim" value="$(arg sim)" />
        <arg name="fake_bat" value="$(arg fake_bat)" />
    </include>
</launch>
