<launch>
    <arg name="sim" default="false" doc="true if we are running in the sim" />

    <node name="takeoff_land_abstract" pkg="iarc7_abstract" type="takeoff_land.py" />

    <include file="$(find iarc7_launch)/launch/main.launch">
        <arg name="sim" value="$(arg sim)" />
        <arg name="external_bond_ids" default="'takeoff_land_abstract'" />
    </include>
</launch>
