<launch>
    <arg name="sim" default="false" doc="true if we are running in the sim" />
    <node name="velocity_test_abstract" pkg="iarc7_abstract" type="velocity_test.py" />
    <param name="safety_bonds/velocity_test_abstract/form_bond" value="true" />

    <include file="$(find iarc7_launch)/launch/main.launch">
        <arg name="sim" value="$(arg sim)" />
    </include>

</launch>
