<launch>
    <include file="$(find iarc7_launch)/launch/base_hardware.launch">
        <arg name="sim" value="true" />
    </include>

    <include file="$(find iarc7_motion)/launch/low_level_motion.launch">
        <arg name="platform" value="sim" />
        <arg name="safety_priority" value="200" />
    </include>

    <param name="sim/ground_truth_localization" value="true" />

    <node name="waypoints_test" pkg="iarc7_motion" type="waypoints_test.py" />
    <param name="safety_bonds/motion_planner" value="250" />
</launch>
