<launch>
    <include file="$(find iarc7_simulator)/launch/static_transforms_sim.launch" />

    <include file="$(find iarc7_simulator)/launch/morse.launch" />

    <include file="$(find iarc7_safety)/launch/iarc7_safety.launch">
        <arg name="bondIds" default="['low_level_motion', 'motion_planner']"/>
    </include>

    <include file="$(find iarc7_motion)/launch/low_level_motion.launch">
        <arg name="platform" value="sim" />
    </include>

    <node name="waypoints_test" pkg="iarc7_motion" type="waypoints_test.py" />
</launch>
